<center>
	<p>Choose a map:
		<ul class="breadcrumb map-picker">
			<li><a href="#" id="map_void">map_void</a></li>
			<li><a href="#" id="map_overworld">map_overworld</a></li>
			<li><a href="#" id="map_temple">map_temple</a></li>
			<li><a href="#" id="map_jungle">map_jungle</a></li>
		</ul>
	</p>
	<div class="layout">
		<canvas id="game" width=800 height=640></canvas>
		<div id="infobox"></div>
	</div>
	<hr style="clear: both" />
	<p>Click on tile you want to use, then click on map. Layer to use: <input id="layer" type="number" value="5" /></p>

	<img src="/assets/tiles2.png" id="toolbox" />

	<hr />

	<div id="messagelog"></div>
</center>
